h1, h2, h3, p {
  font-family: Helvetica;
}

h1 {
  background-image: url(pattern.jpeg);
  text-align: center;
  font-size: 100px;
  color: khaki;
}


h2 {
  color: White;
  font-size: 32px;
}

#brush {
  background-color: mediumspringgreen;
}

#Frames {
  background-color: lightcoral;
}

#Paint {
  background-color: skyblue;
}

.Price {
  color: blue;
  font-weight: bold;
}
